@import './variables.scss';

input[type="checkbox"] {
  background: #fcfff4;

  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

  position: inherit;
  margin: 0 1.25rem 0 0;
  vertical-align: middle;

  &:after {
    content: '';
    width: 1.3rem;
    height: 1.3rem;
    top: 0.125rem;
    margin-right: 1.4rem;
    position: absolute;
    background-color: $purple-base;
    border: 1px solid $purple-highlight-lighter;
    vertical-align: middle;
  }

  &:checked::after {
    content: '✓';
    font-size: 1.2rem;
    line-height: 1rem;
    text-align: center;
    color: $text-white;
    background-color: $purple-highlight-lighter;
  }
}