/*
 * Imports
 * ========================================================================== */


/*
 * Colors
 * ========================================================================== */

$white-base:            hsl(255, 255, 255);
$gray-darker:           color(black lightness(+13.5%)); /* #222 */
$gray-dark:             color(black lightness(+25%));   /* #404040 */
$gray:                  color(black lightness(+33.5%)); /* #555 */
$gray-light:            color(black lightness(+46.7%)); /* #777 */
$gray-lighter:          color(black lightness(+93.5%)); /* #eee */

$purple-base: #020E44; /* sidebar */
$purple-base-darker: #010A33; /* header */
$purple-base-lighter: #021151; /* body */

$purple-highlight: #363277; /* lines/tables */
$purple-highlight-lighter: color($purple-highlight lightness(+20%));
$purple-highlight-darker: color($purple-highlight lightness(-5%));

$text-white: #ffffff;
$text-grey: #999999;
$text-grey-lighter: color($text-grey lightness(+15%));
$text-light-purple: #514a97;

$dark-cyan: #006d77;
$dark-blue: #194dd2;
$light-purple: #304ffe;
$deep-orange: #ff5722;
$light-red: #ff1744;

$deep-orange-darker: color($deep-orange lightness(-15%));


/*
 * Typography
 * ========================================================================== */

$font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;

/*
 * Layout
 * ========================================================================== */

$max-content-width:     1000px;

$header-height: 60px;
$sidebar-width: 200px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min:         480px;  /* Extra small screen / phone */
$screen-sm-min:         768px;  /* Small screen / tablet */
$screen-md-min:         992px;  /* Medium screen / desktop */
$screen-lg-min:         1200px; /* Large screen / wide desktop */

/*
 * Animations
 * ========================================================================== */

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;